# Auto detect text files and perform LF normalization
* text=auto
Bottom_SPEC.tga filter=lfs diff=lfs merge=lfs -text
BottomB_SPEC.tga filter=lfs diff=lfs merge=lfs -text
Deco_Specular.tga filter=lfs diff=lfs merge=lfs -text
FloorA_SPEC.tga filter=lfs diff=lfs merge=lfs -text
SampleScene.unity filter=lfs diff=lfs merge=lfs -text
